.title {
  font-weight: 600;
  color: var(--background);
}
.text {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--background);
}
.container {
  background: var(--color);
  min-height: 40rem;
  border-radius: 1rem ;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--color);
  color: var(--background);
  font-size: 1.5rem;
  border: 0.2rem solid var(--background);
  font-weight: 600;
  width: fit-content;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}


@media screen and (max-width: 965px) {
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.8rem
  }
  .button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
}
  .container {
    width: 90vw;
    min-height: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1rem;
    text-align: center;
  }
  .text {
    font-size: 0.8rem;
    text-align: center;
  }
}



