<footer class="footer">

  <div class="card card-container-link">
    <a class="card-link" routerLinkActive="active" routerLink="conditions-generales-utilisation">Nos conditions
      d'utilisation</a>
    <a class="card-link" routerLinkActive="active" routerLink="politique-de-confidentialite">Notre politique de
      confidentialité</a>
  </div>

  <div class="card">
    <img class="card-img" [src]="imgTheme">
  </div>

  <div class="card card-container-link">
    <a class="card-link" routerLinkActive="active" routerLink="a-propos">A propos</a>
    <a class="card-link" routerLinkActive="active" routerLink="nous-contacter">Nous contacter</a>
  </div>


</footer>
