.footer {
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 5rem;
  background-color: var(--color);
  margin-top: 1.5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color);
  border-radius: 0.5rem;
  width: calc(100% / 3);
}

.card-img {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  transition: 0.5s ease-in-out;
}

.card-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card-link:hover {
  color: orange;
}

.card-link::before {
  content: "";
  position: absolute;
  display: block;
  align-content: center;
  width: 100%;
  height: 0.15rem;
  bottom: -0.2rem;
  left: 0;
  background-color: orange;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.card-link {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: var(--background);
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  background-color: transparent !important;
}

.card-link:hover::before {
  transform: scaleX(1);
}

.active::before {
  transform: scaleX(1);
}

.active {
  color: orange;
}

.card-container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 1020px) {
  .footer {
    margin-top: 3rem;
  }

  .card-link {
    width: fit-content;
  }
}

@media screen and (max-width: 965px ) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
  }

  .card {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 426px) {
  .card-link {
    font-size: 1rem;
  }
}
