.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color);
  color: var(--background);
  width: 50rem;
  border-radius: 1rem;
  padding: 3rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.container-all {
  height: fit-content;
  position: relative;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button {
  width: fit-content;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0.2rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}

p {
  font-size: 1.2rem;
  font-weight: 800;
}

@media screen and (max-width: 1020px) {
  .container {
    width: 80vw;
  }

  .button {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .container-all {
    height: fit-content;
  }

}
