<section class="container unselectable">


  <div class="card">
    <h2 class="title">Gratuit</h2>
    <p class="price">0€</p>
    <ul class="list-option">
      <li class="list-element">Stockage : 5 Go</li>
      <li class="list-element">Nombre de transferts mensuels : Illimité</li>
      <li class="list-element">Taille maximale de fichier par transfert : 2 Go</li>
    </ul>
    <p class="description">Ce plan est idéal pour les utilisateurs occasionnels qui souhaitent transférer des fichiers de taille modérée de manière simple et gratuite. Il vous permet de partager des fichiers en toute sécurité sans coût.</p>
    <a class="subscription-button">Choisir cet abonnement</a>
  </div>

  <div class="card">
    <h2 class="title">Premium</h2>
    <p class="price">5€</p>
    <ul class="list-option">
      <li class="list-element">Stockage : 15 Go</li>
      <li class="list-element">Nombre de transferts mensuels : Illimité</li>
      <li class="list-element">Taille maximale de fichier par transfert : 5 Go</li>
    </ul>
    <p class="description">Le plan Premium est conçu pour les professionnels et les petites entreprises qui ont besoin de transférer régulièrement des fichiers de taille moyenne. Il offre plus d'espace de stockage et des fonctionnalités avancées pour une expérience améliorée.</p>
    <a class="subscription-button">Choisir cet abonnement</a>
  </div>

  <div class="card">
    <h2 class="title">Ultimate</h2>
    <p class="price">15€</p>
    <ul class="list-option">
      <li class="list-element">Stockage : 50 Go</li>
      <li class="list-element">Nombre de transferts mensuels : Illimité</li>
      <li class="list-element">Taille maximale de fichier : 10 Go</li>
    </ul>
    <p class="description">Le plan Ultimate est parfait pour les entreprises, les créateurs de contenu, et tous ceux qui ont besoin de partager et de stocker un grand volume de fichiers en toute sécurité. Il offre une capacité de stockage généreuse et des fonctionnalités avancées pour une gestion optimale des transferts de fichiers.</p>
    <a class="subscription-button">Choisir cet abonnement</a>
  </div>

</section>

