.dashboard-container-all {
  position: relative;
  margin: auto;
  width: 80vw;
  background-color: var(--color);
  min-height: 80vh;
  border-radius: 1rem;
  padding: 2rem;
}

.dashboard-container {
  position: relative;
  margin: auto;
  background-color: var(--background);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.tag {
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.valid {
  background-color: green;
}

.unvalid {
  background-color: red;
}

.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.reverse {
  border: 0.1rem solid var(--background);
  color: var(--background);
}

.reverse:hover {
  cursor: pointer;
  background-color: var(--background) !important;
  color: var(--color) !important;
}

.download:hover {
  cursor: pointer;
  background-color: blue !important;
  border: 0.1rem solid blue !important;
  color: white !important;
}

.delete:hover {
  cursor: pointer;
  background-color: red !important;
  border: 0.1rem solid red !important;
  color: white !important;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}

.return {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  position: relative;
  margin: 1rem;
}


.img-loader {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner 3s linear infinite;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 65%;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--background);
  background-color: var(--color);
}

.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.card-section.left {
  border-right: var(--background) solid 0.2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1020px) {


  .return {
    position: unset;
    margin: 0 auto !important;
    width: max-content;
  }

  .dashboard-container-all {
    width: 95vw;
    padding: 1rem;
  }

  .dashboard-container {
    padding: 0;
  }

  .nav {
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }

  .card {
    width: 14rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  .card-btn {
    margin-top: 1rem;
  }

  .left {
    border: 0 !important;
    width: auto;
  }

  .delete, .download {
    width: max-content;
  }


}
