<section class="dashboard-container-all">
<app-dashboard-navbar></app-dashboard-navbar>

  <section class="dashboard-container  unselectable">

    <a class="card-btn return" routerLink="/admin/dashboard/utilisateurs/transferts/{{ transfer.folderOwnerID }}"> <fa-icon [icon]="returnIcon"></fa-icon> Revenir a tout les transferts</a>


    <div class="container-loader" *ngIf="loading">
        <img class="img-loader" [attr.src]="loadingImg" alt="Image de chargement">
      </div>

      <div class="card" *ngIf="!loading">

        <p class="card-name">{{ transfer.folderName }}</p>
        <p>Nombre{{ transfer.fileCount > 1 ? 's' : '' }} de fichier{{ transfer.fileCount > 1 ? 's' : '' }}
          : {{ transfer.fileCount}}</p>
        <p>Taille du dossier : {{ formatSize(transfer.folderSize) }}</p>
        <p>
          <fa-icon [icon]="isFolderShared(transfer.shared)"></fa-icon>
          {{ transfer.shared ? 'Dossier partagé' : 'Dossier non partagé' }}</p>
        <p>Crée le : {{ formatDate(transfer.uploadedAt, 'longDate', 'fr-FR') }}</p>
        <p>Expire le : {{ formatDate(transfer.expiresAt, 'longDate', 'fr-FR') }}</p>
        <p class="tag"
           [ngClass]="isFolderExpired(transfer.expiresAt) ? 'unvalid' : 'valid' ">{{ isFolderExpired(transfer.expiresAt) ? 'Expirée' : 'Valide' }}</p>
      </div>


  </section>

</section>
