<section class="container">

  <div class="container-text">

    <h1 class="contact-title">Nous contacter</h1>

    <p class="contact-text">Nous sommes là pour simplifier vos transferts de fichiers, que ce soit pour des documents
      importants,
      des médias volumineux, ou tout autre contenu numérique. Notre équipe dévouée est prête à vous guider à travers
      chaque étape du processus.
      N'hésitez pas à nous contacter pour toute question, préoccupation ou demande spéciale liée au transfert de
      fichiers.
      Votre tranquillité d'esprit est notre priorité.
    </p>

  </div>

  <form class="contact-form"
        #loginForm="ngForm"
        (ngSubmit)="sendEmail()"
  >

    <input class="contact-input"
           type="email"
           placeholder="Votre email :"
           [(ngModel)]="emailValue"
           [class.invalid]="senderEmail.invalid && (senderEmail.dirty || senderEmail.touched)"
           [class.valid]="senderEmail.valid"
           #senderEmail="ngModel"
           name="senderEmail"
           email
           required
    >
    <p [class.invalid]="senderEmail.invalid && (senderEmail.dirty || senderEmail.touched)"
       [class.valid]="senderEmail.valid"
       *ngIf="senderEmail.invalid && (senderEmail.dirty || senderEmail.touched)">
      Email invalide
    </p>

    <input class="contact-input"
           type="text"
           placeholder="Sujet :"
           [(ngModel)]="subjectValue"
            [class.invalid]="subject.invalid && (subject.dirty || subject.touched)"
            [class.valid]="subject.valid"
           #subject="ngModel"
           name="subject"
           required
    >
    <p [class.invalid]="subject.invalid && (subject.dirty || subject.touched)"
       [class.valid]="subject.valid"
       *ngIf="subject.invalid && (subject.dirty || subject.touched)"
    >
      Le sujet ne peut être vide
    </p>

    <textarea
      class="contact-textarea"
      rows="5"
      placeholder="Votre message :"
      [(ngModel)]="messageValue"
      [class.invalid]="message.invalid && (message.dirty || message.touched)"
      [class.valid]="message.valid"
      #message="ngModel"
      name="message"
      required
    >
    </textarea>
    <p [class.invalid]="message.invalid && (message.dirty || message.touched)"
       [class.valid]="message.valid"
       *ngIf="message.invalid && (message.dirty || message.touched)"
    >
      Le message ne peut être vide
    </p>

    <button [class.invalid]=" message.invalid && (message.dirty || message.touched) ||
            senderEmail.invalid && (senderEmail.dirty || senderEmail.touched) ||
            subject.invalid && (subject.dirty || subject.touched)"
            [disabled]="loginForm.invalid"
            class="contact-button">
      Envoyer
    </button>

  </form>

</section>
