<nav class="navbar">

  <div class="toggler">

    <li class="nav-toggler">
      <a class="nav-link nav-icon" routerLink="/" routerLinkActive="active">
        <fa-icon [icon]="navIcon" (click)="openMenu()"></fa-icon>
      </a>
    </li>
  </div>

  <ul class="nav-list" [ngClass]="navbarToggleValue">

    <li class="nav-element">
      <a class="nav-link" routerLink="/" routerLinkActive="active">

      </a>
    </li>

    <li class="nav-element">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        Home
      </a>
    </li>

    <li class="nav-element">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        About
      </a>
    </li>

    <li class="nav-element">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        Cgu
      </a>
    </li>

    <li class="nav-element">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        Se connecter
      </a>
    </li>

  </ul>

</nav>
