<nav class="navbar unselectable">

  <div class="toggler">

    <li class="nav-toggler">
      <a class="nav-icon">
        <fa-icon [icon]="navIcon" (click)="openMenu()"></fa-icon>
      </a>
    </li>
  </div>

  <ul class="nav-list" [ngClass]="navbarToggleValue">

<div class="block">

       <li class="nav-element">
        <a class="nav-link" routerLink="/accueil" routerLinkActive="active">
          Home
        </a>
      </li>

      <li class="nav-element" *ngIf="isConnect">
        <a class="nav-link" routerLink="/transfert" routerLinkActive="active">
          Transfert
        </a>
      </li>

        <li class="nav-element">
        <a class="nav-link" routerLink="/cgu" routerLinkActive="active">
          Cgu
        </a>
      </li>

    </div>

    <div class="block logo">

      <li class="nav-element">
      <a class="" routerLink="/accueil">
        <img class="nav-logo" [src]="imgTheme" alt="logo T-flow">
      </a>
    </li>

    </div>

    <div class="block">

    <li class="nav-element">

      <a class="nav-link" routerLink="/se-connecter" routerLinkActive="active" *ngIf="!isConnect">
        Se connecter
      </a>

      <a class="nav-link" routerLink="/reglages" routerLinkActive="active" *ngIf="isConnect">
        Réglages
      </a>

    </li>

    </div>

  </ul>

</nav>

<div class="help-icon">

  <fa-icon class="icon" [icon]="helpIcon" (click)="togglePopup()"></fa-icon>

  <div class="popup-help" [ngClass]="popupToggleValue">
    <fa-icon class="iconClose" [icon]="closeIcon" (click)="togglePopup()"></fa-icon>

    <p>Theme sombre:</p>

    <div class="checkbox-wrapper-8">
      <input type="checkbox" id="cb3-8" class="tgl tgl-skewed" (click)="toggleTheme()" [checked]="isDarkTheme">
      <label for="cb3-8" data-tg-on="ON" data-tg-off="OFF" class="tgl-btn"></label>
    </div>

    <p>Animation:</p>

    <div class="checkbox-wrapper-8">
      <input type="checkbox" id="cb3-8.1" class="tgl tgl-skewed" checked>
      <label for="cb3-8.1" data-tg-on="ON" data-tg-off="OFF" class="tgl-btn"></label>
    </div>
  </div>

</div>
