.navbar {
  padding: 1rem 0;
}
.nav-list {
  display: flex;
  gap: 1.5rem;
  margin: 0 5rem;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.middle-element {
  display: flex;
  gap: 3rem;
}
.nav-link {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: var(--color);
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  background-color: transparent !important;
}
.nav-link:hover {
  color: var(--light-blue);
}
.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  align-content: center;
  width: 100%;
  height: 0.15rem;
  bottom: -0.2rem;
  left: 0;
  background-color: var(--light-blue);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-logo {
  height: 3rem;
}
body.dark.nav-link::before {
  background-color: var(--color);
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.active::before {
  transform: scaleX(1);
}
.help-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-3rem, -2rem);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.help-icon:hover {
  transform: translate(-3rem, -2rem) scale(1.1);
  cursor: pointer;
}


.nav-toggler {
  display: none;
}

@media screen and (max-width: 965px) {
  .reverse {
    animation: toggleReverse 0.3s ease-in-out !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    animation: toggle 0.3s ease-in-out;
  }
  .nav-toggler {
    display: block;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  li:last-child {
    margin-bottom: 1.5rem;
  }
  .nav-icon {
    font-size: 2rem;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }
  .middle-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes toggle {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes toggleReverse {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
