<section class="download-container unselectable" *ngIf="folder.url != ''">

  <p class="download-title">Télécharger ce dossier</p>

  <div class="download-folder">

    <p class="download-folder-name">Nom du dossier : {{ folder.folderName }}</p>
    <p class="download-folder-date">Date de création : {{ folder.uploaded_at | date: 'dd/MM/yyyy' }}</p>
    <p class="download-folder-count">Nombres de fichier{{folder.fileCount > 1 ? 's' : ''}} : {{ folder.fileCount }}</p>
    <p class="download-folder-size">Taille du dossier : {{ folderSize }}</p>
  </div>

  <a class="download-button" (click)="downloadFile()">Télécharger</a>
</section>

<section class="download-container unselectable" *ngIf="loading">

  <div class="download-loader">
    <img class="img-loader" [src]="loadingImg">
  </div>

</section>
