<section class="container-settings unselectable">

<app-settings-navbar></app-settings-navbar>

  <section class="container-transfer">

    <div class="transfer" *ngFor="let transfer of allFolder">
      <div class="transfer-component">
        <p class="">{{ transfer.folderName }}</p>
        <p>{{ transfer.expires_at | date : "dd/MM/yyyy" }}</p>
        <p>Partagé ? : {{ transfer.shared ? "Oui" : "Non" }}</p>

        <p>Nombre de fichiers : {{ transfer.fileCount }}</p>
        <p *ngIf="transfer.folderSize /1024/1024 < 1">Taille du dossier : {{ transfer.folderSize / 1024 | number : ".2" }}Ko</p>
        <p *ngIf="transfer.folderSize /1024/1024 < 1000 &&  transfer.folderSize/1024/1024 > 1">Taille du dossier : {{ transfer.folderSize / 1024 /1024 | number : ".2" }}Mo</p>
        <p *ngIf="transfer.folderSize /1024/1024 >= 1000">{{transfer.folderSize /1024/1024/1024 | number : ".2"}}Go</p>
      </div>
    </div>

  </section>

</section>
