<section class="container-settings unselectable">

<app-settings-navbar></app-settings-navbar>

  <section class="container-transfer">

    <div *ngIf="loading">
      <img class="img-loader" [src]="loadingImg">
    </div>

    <div *ngIf="!isDataFound">
      <p class="no-data">{{ !errorMessage ? "Aucun dossier trouvé" : "Une erreur est survenue, veuillez rafraichir la page" }}</p>
    </div>

  <div class="transfer" *ngFor="let transfer of allFolder">
      <div class="transfer-component">
        <p class="">Nom :{{ transfer.folderName }}</p>
        <p>Crée le : {{ transfer.uploaded_at | date : "dd/MM/yyyy" }}</p>
        <p>Partagé ? : {{ transfer.shared ? "Oui" : "Non" }}</p>
        <p>Expiré ? : {{ checkIfFolderIsExpired(transfer) ? "Oui"  : "Non"}}</p>
        <p>Nombre de fichiers : {{ transfer.fileCount }}</p>
        <p *ngIf="transfer.folderSize /1024/1024 < 1">Taille du dossier : {{ transfer.folderSize / 1024 | number : ".2" }}Ko</p>
        <p *ngIf="transfer.folderSize /1024/1024 < 1000 &&  transfer.folderSize/1024/1024 > 1">Taille du dossier : {{ transfer.folderSize / 1024 /1024 | number : ".2" }}Mo</p>
        <p *ngIf="transfer.folderSize /1024/1024 >= 1000">{{transfer.folderSize /1024/1024/1024 | number : ".2"}}Go</p>
        <a class="transfer-link transfer-button" *ngIf="!checkIfFolderIsExpired(transfer)" [href]="'telechargement/' +transfer.url + '/' + transfer.accessKey">Accéder à la page de téléchargement</a>
      </div>
    </div>

  </section>

</section>
