.dashboard-container-all {
    margin: auto;
    width: 80vw;
    background-color: var(--color);
    min-height: 80vh;
    border-radius: 1rem;
    padding: 2rem;
}
.dashboard-container {
    max-height: 60vh;
    overflow-y: scroll;
    margin: auto;
    background-color: var(--background);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-provider {
    width: 20rem;
    height: 20rem;
    background-color: var(--color);
    color: var(--background);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    object-fit: contain;
    background-color: var(--background);
}
.card-text {
    font-weight: 600;
    text-align: center;
}

.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}

@media screen and (max-width: 1020px) {

  .dashboard-container-all {
    width: 95vw;
    padding: 1rem;
  }

  .dashboard-container {
    padding: 1rem;
    max-height: 35rem;
    overflow-y: scroll;
  }


}
