<section class="dashboard-container-all">
<app-dashboard-navbar></app-dashboard-navbar>

  <div class="nav">
    <a class="card-btn return" routerLink="/admin/dashboard/supports"> <fa-icon [icon]="returnIcon"></fa-icon> Revenir a tout les supports</a>

   <!-- <h2 class="username" *ngIf="user.firstName != ''">{{ user.lastName }} {{ user.firstName }}</h2> -->
  </div>

    <section class="dashboard-container  unselectable">

      <div class="container-loader " *ngIf="isLoading">
        <img class="img-loader" [attr.src]="loadingImg" alt="Image de chargement">
      </div>

      <section class="card-container">

      <div class="card user" *ngIf="!isLoading">
        <img class="card-img" [src]="supportInfo.user.avatar">
        <p class="text">{{ supportInfo.user.lastName }} {{ supportInfo.user.firstName }}</p>
        <p class="text">Envoyé le : {{ supportInfo.sentAt | date : 'longDate' }}</p>
        <p class="text">{{ supportInfo.user.mail }}</p>
      </div>

      <div class="card" *ngIf="!isLoading">
        <p class="text">{{ supportInfo.subject }}</p>
        <p class="text">{{ supportInfo.message }}</p>

        <div class="button-container">
          <a class="card-btn">Répondre <fa-icon [icon]="exitIcon"></fa-icon> </a>
          <a class="card-btn delete">Supprimer</a>
        </div>

      </div>

      </section>

    </section>

</section>
