.dashboard-container-all {
  position: relative;
  margin: auto;
  width: 80vw;
  background-color: var(--color);
  min-height: 80vh;
  border-radius: 1rem;
  padding: 2rem;
}

.dashboard-container {
  max-height: 35rem;
  overflow-y: scroll;
  margin: auto;
  background-color: var(--background);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.img-loader {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner 3s linear infinite;
}

.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--color);
  border-radius: 0.5rem;
  color: var(--color);
  background-color: transparent;
  text-decoration: none;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--color);
  color: var(--background);
}

.return {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: var(--background);
  border: 0.1rem solid var(--background);
}

.return:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  position: relative;
  margin: 1rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
