.dashboard-container-all {
  position: relative;
  margin: auto;
  width: 80vw;
  background-color: var(--color);
  min-height: 80vh;
  border-radius: 1rem;
  padding: 2rem;
}

.dashboard-container {
  max-height: 35rem;
  overflow-y: auto;
  margin: auto;
  background-color: var(--background);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.img-loader {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner 3s linear infinite;
}

.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--color);
  border-radius: 0.5rem;
  color: var(--color);
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--color);
  color: var(--background);
}

.return {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: var(--background);
  border: 0.1rem solid var(--background);
}

.return:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text {
  text-align: center;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: calc(100% / 2 - 2rem);
}

.delete:hover {
  border: 0.1rem solid red !important;
  background-color: red;
  color: white;
}

.user {
  border-right: 0.1rem solid var(--color);
}

.card-img {
  height: 5rem;
  width: 5rem;
  background-color: white;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  position: relative;
  margin: 1rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1020px) {

  .dashboard-container-all {
    width: 95vw;
    padding: 1rem;
  }

  .dashboard-container {
    padding: 1rem;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .user {
    padding-bottom: 1rem;
    border-right: 0;
    border-bottom: 0.1rem solid var(--color);
  }

  .nav {
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }

}

@media screen and (max-width: 425px){

  .button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



}
