<section class="dashboard-container-all">
  <app-dashboard-navbar></app-dashboard-navbar>
  <section class="dashboard-container unselectable">

    <div class="container-loader " *ngIf="loading">
      <img class="img-loader" [attr.src]="loadingImg" alt="Image de chargement">
    </div>

    <div *ngIf="!isDataFound">
      <p
        class="no-data">{{ !errorMessage ? "Aucun supports trouvé" : "Une erreur est survenue, veuillez rafraichir la page" }}</p>
      </div>


    <div *ngFor="let support of supports.content">

      <div class="dashboard-card unselectable">

          <p>Sujet : {{ support.subject }}</p>
          <p>Envoyé de : {{ support.user.mail }}</p>
          <p class="message">Message : {{ support.message }}</p>
          <p class="tag">{{ support.sentAt | date : 'longDate' }}</p>
          <a routerLink="/idk" class="card-btn">Voir ce support</a>
      </div>

    </div>



  </section>
</section>
