.dashboard-container-all {
    margin: auto;
    width: 80vw;
    background-color: var(--color);
    min-height: 80vh;
    border-radius: 1rem;
    padding: 2rem;
}

.dashboard-container {
    max-height: 35rem;
    overflow-y: scroll;
    margin: auto;
    background-color: var(--background);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  gap: 1rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--background);
  background-color: var(--color);
  text-align: center  ;
}
.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
  text-decoration: none;
}


.card-btn:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}
.tag {
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600 ;
  background-color: orange;
}

.img-loader {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner 3s linear infinite;
}
.support-subject {
  font-size: 1.2rem;
  font-weight: 600;
}

.support-sender {
  font-size: 0.8rem;
  font-weight: 500;
}
.message {
  height: 7rem;
  padding: 0.5rem;
  width: 100%;
  border: 0.1rem solid var(--background);
  border-radius: 0.5rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1020px) {

  .dashboard-container-all {
    width: 95vw;
    padding: 1rem;
  }

  .return {
    position: unset;
    margin: auto;
    width: max-content;
  }

  .dashboard-container {
    padding: 0;
    max-height: 35rem;
    overflow-y: scroll;
  }

  .dashboard-card {
    width: 14rem;
    margin: 1rem auto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }



}
