<section class="dashboard-container-all">
  <app-dashboard-navbar></app-dashboard-navbar>
  <section class="dashboard-container unselectable">

    <div class="container-loader " *ngIf="loading">
      <img class="img-loader" [attr.src]="loadingImg" alt="Image de chargement">
    </div>

    <div *ngIf="!isDataFound">
      <p
        class="no-data">{{ !errorMessage ? "Aucun supports trouvé" : "Une erreur est survenue, veuillez rafraichir la page" }}</p>
      </div>


    <div class="dashboard-card unselectable" *ngFor="let support of supports.content">

          <p class="support-subject">{{ support.subject }}</p>
          <p class="support-sender">{{ support.user.mail }}</p>
          <p class="message">{{ support.message }}</p>
          <p class="tag">{{ support.sentAt | date : 'longDate' }}</p>
          <a routerLink="/admin/dashboard/supports/detail/{{ support.user.id }}" class="card-btn">Voir ce support</a>

    </div>



  </section>
</section>
