<section class="card-container" *ngIf="!isProgressVisible">

  <div class="card card-left">
    <p class="title-file unselectable">Envoyer</p>

    <form class="form-sender" (submit)="uploadFile()" (keydown.enter)="$event.preventDefault()">

      <div class="list-email">
        <div class="list-span">
          <span class="tag-email" *ngFor="let email of emails">{{ email }}
            <fa-icon [icon]="suppressEmailIcon" (click)="deleteEmail(email)"></fa-icon> </span>
        </div>
        <input [ngClass]="emailInput" class="input-text"
               (keydown.enter)="checkIfEmailIsValid($event)"
               (focusout)="checkIfEmailIsValid($event)"
               type="text"
               placeholder="Vos destinataires :"
               multiple>
        <p class="error-email" *ngIf="isEmailError">Veuillez entrer une adresse email valide</p>
        <p class="error-email" *ngIf="isEmailAlreadyExist">Cette adresse email est déjà enregistrée</p>
      </div>
      <input class="input-text" [(ngModel)]="folderName" name="folderName" placeholder="Nom du dossier :">
      <textarea [(ngModel)]="message" name="message" class="input-textarea" [rows]="3" [cols]="3"
                placeholder="Votre message :"></textarea>
      <button *ngIf="uploader.queue.length > 0 && emails.length > 0" [disabled]="uploader.queue.length < 1 && emails.length < 1" class="btn-send" type="submit">Envoyer</button>
    </form>

  </div>

  <div ng2FileDrop
       [uploader]="uploader"
       class="drop card card-middle"
       *ngIf="emails.length > 0"
       [@fileCard]
  >
    <input type="file" id="file-input" (onFileSelected)="calculateSizeAllFile()" class="upload" ng2FileSelect
           [uploader]="uploader" (change)="checkFile()"
           multiple>
    <label for="file-input">
      <div class="upload-div" id="file-input">
        <p>Glissez vos fichiers ici</p>
        <p>ou</p>
        <p>Cliquez pour sélectionner</p>
      </div>
    </label>
  </div>

  <div class="card card-right" [@fileCard] *ngIf="uploader.queue.length > 0">
    <h2 class="title-file">Vos Fichiers:</h2>
    <p class="noFile" *ngIf="uploader.queue.length === 0">Aucun fichier sélectionné</p>
    <p *ngIf="uploader.queue.length > 0">poids total de vos fichiers
      : {{ formatSizeFile(this.calculateSizeAllFile()) }}</p>
    <ul class="list-file" *ngIf="uploader.queue.length > 0">
      <li class="list-element" *ngFor="let file of uploader.queue">
        <p class="text-file">{{file.file.name}} - {{ formatSizeFile(file.file.size) }}</p>
        <fa-icon class="iconBin" [icon]="binIcon" (click)="deleteFile(file)"></fa-icon>
      </li>
    </ul>

    <button class="deleteFile" (click)="deleteAllFile()">Supprimer tout les fichiers</button>
  </div>


</section>


<div class="loader" *ngIf="isProgressVisible">
  <div class="loader-container">
    <div class="loader-view" [style.width.%]="loaderProgress"></div>
  </div>

  <p class="loader-progress">{{loaderProgress}}%</p>
</div>

