.cgu-list {
  width: 80vw;
  margin: 2rem auto;
  list-style: decimal;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
ol {
  counter-reset: item;
}
li{
  display: block;
  margin: 1rem;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
.cgu-list-min {
  font-size: 1rem;
  margin: 1rem auto;
  list-style: decimal;
  font-weight: 300;
}
.cgu-title {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}
.cgu-date {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.cgu-description {
  font-size: 1rem;
  width: 50vw;
  margin: 2rem auto;
  font-weight: 300;
  text-align: center;
}
.cgu-finisher {
  width: 60vw;
  margin: 2rem auto;
  font-size: 1.2rem;
}
.cgu-signer {
  width: 60vw;
  margin: 2rem auto;
  font-size: 1.6rem;
}
@media screen and (max-width: 965px ){
  .cgu-title {
    font-size: 2rem;
  }
  .cgu-date {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .cgu-title {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .cgu-date {
    font-size: 1rem;
  }
  .cgu-description {
    font-size: 0.8rem;
    width: 80vw;
  }
  li {
    font-size: 0.8rem;
    margin: 0.3rem 0;
  }
  .cgu-finisher {
    width: 80vw;
    margin: 0.5rem auto;
    font-size: 0.8rem;
  }
  .cgu-signer {
    width: 100%;
    margin: 3rem 0 6rem 0;
    font-size: 1rem;
    text-align: center;
  }
}
