<h1 class="privacy-title">
  Politique de Confidentialité de T - flow
</h1>

<p class="privacy-date">Date d'entrée en vigueur : 19/07/2023</p>

<p class="privacy-description">
  Bienvenue sur T-flow, la plateforme de transfert de fichiers sécurisée.
  Chez T-flow, nous nous engageons à protéger votre vie privée et à respecter le RGPD de l'Union européenne.
  Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles.
  En utilisant notre service, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique.
</p>

<ol class="privacy-list">

  <li>
    Collecte de Données Personnelles :

    <ol class="privacy-list-min">

      Nous collectons et traitons certaines données personnelles conformément au RGPD lorsque vous utilisez T-flow. Les types de données que nous pouvons collecter comprennent, sans s'y limiter :

      <li class="privacy-element-min">
        Informations d'identification, telles que votre nom, votre adresse e-mail, et les informations de connexion nécessaires pour accéder à votre compte T-flow.
      </li>

      <li class="privacy-element-min">
      Données de transfert de fichiers, y compris les fichiers que vous envoyez et recevez via T-flow.
      </li>


      <li class="privacy-element-min">
      Données de connexion, telles que votre adresse IP, les informations du navigateur, les pages que vous visitez sur notre site, et les heures d'accès.
      </li>

      <li class="privacy-element-min">
      Autres informations que vous choisissez de nous fournir, par exemple, lorsque vous nous contactez pour un support technique ou pour toute autre question.
      </li>

    </ol>

  </li>

  <li>
    Utilisation des Données Personnelles :

    <ol class="privacy-list-min">

      Nous utilisons vos données personnelles pour les finalités suivantes, conformément au RGPD :

      <li>
        Fournir et gérer le service T-flow.
      </li>

      <li>
        Assurer la sécurité de notre service.
      </li>

      <li>
        Répondre à vos demandes de support technique et d'assistance.
      </li>

      <li>
        Analyser l'utilisation de T-flow afin d'améliorer notre service et de personnaliser votre expérience.
      </li>

      <li>
        Se conformer aux lois et réglementations applicables, y compris le RGPD.
      </li>
    </ol>

  </li>

  <li>
    Partage de Données Personnelles

    <ol class="privacy-list-min">
      Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les circonstances suivantes, conformément au RGPD :

      <li>
        Lorsque cela est nécessaire pour fournir le service T-flow, tel que le transfert de fichiers à des destinataires spécifiques.
      </li>

      <li>
        Pour se conformer à des obligations légales, réglementaires ou judiciaires.
      </li>

      <li>
        Lorsque cela est nécessaire pour protéger nos droits, votre sécurité ou celle d'autres utilisateurs.
      </li>

    </ol>

  </li>

  <li>
    Sécurité des Données
    <ol class="privacy-list-min">

      Nous prenons des mesures appropriées pour protéger vos données personnelles conformément au RGPD, y compris la mise en place de mesures de sécurité techniques et organisationnelles.

    </ol>

  </li>

  <li>
    Modifications de la Politique de Confidentialité

    <ol class="privacy-list-min">

     Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur T-flow et prendront effet immédiatement. Nous vous encourageons à consulter régulièrement cette politique pour rester informé des mises à jour.

    </ol>

  </li>

  <li>
    Droits des Utilisateurs en Matière de Données Personnelles :

    <ol class="privacy-list-min">

      Conformément au RGPD, vous avez certains droits en ce qui concerne vos données personnelles, y compris le droit d'accès, de rectification, de suppression, de limitation du traitement et de portabilité des données. Si vous souhaitez exercer l'un de ces droits, veuillez nous contacter à l'adresse suivante : contact.transferflow@gmail.com.

    </ol>

  </li>

  <li>
    Contact

    <ol class="privacy-list-min">

      Si vous avez des questions concernant cette politique de confidentialité ou souhaitez exercer vos droits en matière de données personnelles, veuillez nous contacter à l'adresse suivante : contact.transferflow@gmail.com

    </ol>

  </li>


</ol>

<p class="privacy-finisher">
  En acceptant nos Conditions Générales d'Utilisation, vous reconnaissez avoir lu, compris et accepté cette Politique de Confidentialité conforme au RGPD.
</p>

<p class="privacy-signer">
  L’équipe de T-flow.
</p>
