<section class="container unselectable">
  <h1 class="title">Êtes vous sur de vouloir supprimer votre compte ?</h1>

  <div>
    <p class="text">Une fois que vous aurez confirmé la suppression de votre compte, cette action sera définitive et ne pourra pas être annulée.</p>
    <p class="text">Vous ne pourrez plus accéder à votre compte ni récupérer les informations ou données associées. </p>
  </div>


  <div>
    <p class="text">Toutes les informations, données et contenus associés à votre compte seront définitivement effacés de notre base de données.</p>
    <p class="text">Nous ne serons pas en mesure de restaurer ou de vous fournir une copie de ces données à l'avenir.</p>
  </div>


  <p class="">Si vous êtes certain de vouloir supprimer votre compte et comprendre les conséquences, veuillez confirmer ci-dessous.</p>

  <div class="confirm-container">
    <input class="confirm-checkbox" type="checkbox" (click)="toggleConfirmation()">
    <p class="confirm-text">J'ai lu et compris les implications de la suppression de mon compte et je souhaite procéder.</p>
  </div>

  <div class="button-container">
  <a class="button" [ngClass]="!isConfirmed ? 'disabled' : 'confirm' ">Oui</a>
  <a class="button dismiss">Non</a>
  </div>

</section>
