<section class="dashboard-container-all">
  <app-dashboard-navbar></app-dashboard-navbar>

  <section class="dashboard-container unselectable">

    <a class="card-btn return" routerLink="/admin/dashboard/utilisateurs/detail/{{ user.id }}"> <fa-icon [icon]="returnIcon"></fa-icon> Revenir vers l'utilisateur</a>


    <h2 class="username" *ngIf="user.firstName != '' && isDataFound">Tout les transferts de {{ user.lastName }} {{ user.firstName }}</h2>

    <section class="container">

      <div class="container-loader" *ngIf="loading">
        <img class="img-loader" [attr.src]="loadingImg" alt="Image de chargement">
      </div>

      <div *ngIf="!isDataFound">
        <p
          class="no-data">{{ !errorMessage ? "Aucun transfert trouvé" : "Une erreur est survenue, veuillez rafraichir la page" }}</p>
      </div>

      <div class="card" *ngFor="let folder of folders.content">

        <p class="card-name">{{ folder.folderName }}</p>
        <p>Nombre{{ folder.fileCount > 1 ? 's' : '' }} de fichier{{ folder.fileCount > 1 ? 's' : '' }}
          : {{ folder.fileCount }}</p>
        <p>Taille du dossier : {{ formatSize(folder.folderSize) }}</p>
        <p>
          <fa-icon [icon]="isFolderShared(folder.shared)"></fa-icon>
          {{ folder.shared ? 'Dossier partagé' : 'Dossier non partagé' }}</p>
        <p>Crée le : {{ folder.uploadedAt | date : 'longDate' }}</p>
        <p>Expire le : {{ folder.expiresAt | date : 'longDate' }}</p>
        <p class="tag"
           [ngClass]="isFolderExpired(folder.expiresAt) ? 'unvalid' : 'valid' ">{{ isFolderExpired(folder.expiresAt) ? 'Expirée' : 'Valide' }}</p>
        <a class="card-btn" routerLink="/admin/dashboard/utilisateurs/transferts/detail/{{ folder.id }}">Voir en détail</a>
      </div>

    </section>

  </section>


</section>
