.dashboard-container-all {
    position: relative;
    margin: auto;
    width: 80vw;
    background-color: var(--color);
    min-height: 80vh;
    border-radius: 1rem;
    padding: 2rem;
}



.dashboard-container {
    max-height: 45vh;
    overflow-y: auto;
    margin: auto;
    background-color: var(--background);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

.icon-page:hover {
  cursor: pointer;
  color: orange;
}

.disabled {
  color: var(--background) !important;
  cursor: not-allowed !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 17rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--background);
  background-color: var(--color);
}
.card-name {
  font-weight: 600;
}

.tag {
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600 ;
}

.valid {
  background-color: green;
}
.unvalid {
  background-color: red;
}
.card-btn {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: 0.1rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
  text-decoration: none;
}

.card-btn:hover {
  cursor: pointer;
  background-color: var(--background);
  color: var(--color);
}
.img-loader {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinner 3s linear infinite;
}



.return {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem;
  position: relative;
  margin: 1rem;
}

.username {
  text-align: center;
  color: var(--background);
}

.page {
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  color: var(--background);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1020px) {


  .return {
    position: unset;
    margin: 0 auto !important;
    width: max-content;
  }

  .nav {
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }

  .dashboard-container-all {
    width: 95vw;
    padding: 1rem;
  }

  .dashboard-container {
    padding: 0;
    max-height: 34rem;
    overflow-x: auto;
    overflow-y: unset;
  }

  .card-btn {
    margin-top: 1rem;
  }

  .container {
    margin: 2rem auto ;
  }
  .card {
    font-size: 0.8rem;
    width: 14rem;
  }

  h2 {
    font-size: 1rem;
    margin: auto 1rem;
  }

}
