.container-settings {
  display: flex;
  width: 80vw;
  margin: auto;
  height: 80vh;
  background-color: var(--color);
  border-radius: 1rem;
  color: var(--background);
}
app-settings-navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1020px) {
  app-settings-navbar {
    justify-content: center;
  }
  .container-settings {
    flex-direction: column;
    height: auto;
  }
}
