<ul class="settings-section">

  <li class="unselectable">
    <a class="unselectable settings-link"
       routerLinkActive="active"
       routerLink="/reglages/mon-compte">
      Mon compte
    </a>
  </li>

  <li class="unselectable">
    <a class="unselectable settings-link"
       routerLinkActive="active"
       routerLink="/reglages/mes-transferts">
      Mes transferts
    </a>
  </li>

  <li class="unselectable">
    <a class="unselectable settings-link"
       routerLinkActive="active"
       routerLink="/reglages/mon-abonnement">
      Mon abonnement
    </a>
  </li>



  <li class="unselectable">
    <a class="unselectable settings-link settings-disconnect"
       routerLinkActive="active"
       routerLink="/se-deconnecter">
      Se déconnecter
    </a>
  </li>

</ul>
