.section-login {
  padding: 1rem;
  width: 80vw;
  margin: auto;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--color);
}
.section-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.credential-error {
  color: red;
  font-weight: 600;
}
.form-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input {
    font-size: 1rem;
    width: 19rem;
    height: 3.5rem;
    padding: 1rem 1.5rem;
    margin: 0.6rem;
    border: 0;
    border-bottom: 0.1rem solid #212121;
}
.form-input:focus {
  outline: none;
}
.form-button {
  width: 70%;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border: 0.2rem solid var(--background);
  border-radius: 0.5rem;
  color: var(--background);
  background-color: transparent;
}
.form-button:hover {
  background-color: var(--background);
  color: var(--color);
}
.no-account {
  font-size: 1rem ;
  margin-top: 1rem;
  color: var(--background);
}
.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1.3rem 0;
  color: var(--background);
}
.link-cgu {
  color: var(--background);
}
.invalid {
  border-bottom: 0.2rem solid red;
}
.valid {
  border-bottom: 0.2rem solid green;
}
.valid.form-button {
  border-bottom: 0.2rem solid var(--background);
  cursor: pointer;
}
.invalid.form-button {
  background-color: grey;
  border-bottom: 0.2rem solid var(--background);
  cursor: not-allowed;
}
.sso-login {
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 20rem;
  font-weight: bold;
  background-color: transparent;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  border: 0.2rem solid var(--background);
  border-radius: 0.5rem;
}
.sso-login:hover {
  background-color: var(--background);
  color: var(--color);
}
.sso-login img.sso-apple {
  filter: var(--filter-login);
}
.sso-login:hover img.sso-apple {
  filter: var(--filter-login-reverse);
}
.password-container {
  position: relative;
  width: fit-content;
}
.eyes {
  color: #212121;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.sso-img {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}
.sso-text {
  margin: auto;
}
.text-center {
  text-align: center;
}
hr {
  all: initial;
}
.vertical-line {
  margin: auto !important;
  height: 10rem !important;
  width: 0 !important;
  border: 0.01rem solid var(--background) !important;
}
.section-center {
  display: flex;
  flex-direction: column;
}
.or {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 1rem;
  color: var(--background);
}
.input-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid green;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.input-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: green;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.input-checkbox:checked::before {
    transform: scale(1);
}
.input-checkbox:focus {
    outline: max(2px, 0.15em) solid green;
    outline-offset: max(2px, 0.15em);
}
.title {
  margin: 0 auto;
  color: var(--background);
  text-align: center;
}
@media screen and (max-width: 1023px){

  * {
    width: auto;
    height: auto;
  }
  .section-login {
    display: flex;
    flex-direction:column;
    width: 90vw;
  }
  .section-center {
    rotate: 90deg;
    margin: -10rem;
  }
  .form-input {
    width: 20rem;
  }
  .form-button {
    width: fit-content;
  }
  .sso-login {
    width: 20rem;
  }
  .section-login {
    height: fit-content;
  }
  .or {
    rotate: -90deg;
    text-align: center;
  }
  .section-right {
    width: 100%;
  }
  .section-left {
    width: 100%;
  }
  .form-left {
    width: 100%;
  }

}

@media screen and (max-width: 426px){
  .form-input {
    width: 15rem;
  }
  .sso-login {
    width: 17rem;
  }
  .vertical-line {
    border: 0.1rem solid #212121;
    margin: auto;
  }
  .title {
    font-size: 1rem;
  }
}
