<section class="section-login">


  <section class="section-left">
    <h1 class="unselectable">S'inscrire</h1>
    <form class="form-left" method="POST" #loginForm="ngForm" (submit)="register()">

      <input class="form-input"
             [(ngModel)]="lastNameValue"
             [class.invalid]="loginLastName.invalid && (loginLastName.dirty || loginLastName.touched)"
             [class.valid]="loginLastName.valid"
             #loginLastName="ngModel"
             type="text"
             name="lastName"
             placeholder="Nom"
             title="Veuillez entrer un nom valide"
             aria-label="Nom"
             required
             minlength="3"
      >

      <input class="form-input"
             [(ngModel)]="firstNameValue"
             [class.invalid]="loginFirstName.invalid && (loginFirstName.dirty || loginFirstName.touched)"
             [class.valid]="loginFirstName.valid"
             #loginFirstName="ngModel"
             type="text"
             name="firstName"
             placeholder="Prénom"
             title="Veuillez entrer un prénom valide"
             aria-label="Prénom"
             required
             minlength="3"
      >


      <input class="form-input"
             [(ngModel)]="emailValue"
             [class.invalid]="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)"
             [class.valid]="loginEmail.valid"
             #loginEmail="ngModel"
             type="email" name="email"
             placeholder="name@example.fr"
             title="Veuillez entrer une adresse email valide"
             aria-label="Email"
             required
             email
      >

      <section class="password-container">

        <input [type]="showPassword ? 'text' : 'password'"
               [(ngModel)]="passwordValue"
               [class.invalid]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)"
               [class.valid]="loginPassword.valid"
               #loginPassword="ngModel"
               title="Le mot de passe doit contenir au moins 8 caractères, dont une majuscule, une minuscule, un chiffre et un caractère spécial"
               class="form-input"
               aria-label="Password"
               name="password"
               placeholder="Mot de passe"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.*\s).{8,}"
               required
        >
        <a (click)="showPassword = !showPassword">
          <fa-icon class="eyes" [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
        </a>
      </section>

      <p class="credential-error">{{error}}</p>


      <p class="text-condition"><input class="input-checkbox " type="checkbox" [checked]="isChecked"
                                       (click)="changeIsChecked()"> J'ai lu et j'accepte </p> <a
      class="link" routerLink="/conditions-generales-utilisation">les conditions d'utilisation*</a>

      <button [disabled]="loginForm.invalid || !isChecked"
              [class.invalid]="loginForm.invalid || (loginForm.dirty && loginForm.touched) && !isChecked"
              [class.valid]="loginForm.valid && isChecked"
              class="form-button unselectable"
              type="submit"
      >S'inscrire
      </button>
      <p class="no-account unselectable">Vous avez déjà un compte ? <a routerLink="/se-connecter" class="no-account">cliquez
        ici</a></p>

    </form>

  </section>

  <section class="section-center">
    <hr class="vertical-line">

    <p class="or unselectable">OU</p>

    <hr class="vertical-line">
  </section>

  <section class="section-right">

    <a class="sso-login unselectable" (click)="signInWithGoogle()">
      <img class="sso-img" src="assets/logo/logo-google.png" alt="">
      <p class="sso-text">Se connecter avec Google</p>
    </a>

    <a class="sso-login unselectable">
      <img class="sso-img" src="assets/logo/logo-facebook.png" alt="">
      <p class="sso-text">Se connecter avec Facebook</p>
    </a>

    <a class="sso-login unselectable">
      <img class="sso-img sso-apple" src="assets/logo/logo-apple.png" alt="">
      <p class="sso-text">Se connecter avec Apple</p>
    </a>

  </section>


</section>
